/* line 6, ../sass/byib.ie7.scss */
.logo img {
  width: auto;
}

/* line 11, ../sass/byib.ie7.scss */
.nav-wrapper li {
  display: inline;
}
/* line 13, ../sass/byib.ie7.scss */
.nav-wrapper li a {
  display: inline-block;
}
