/* line 12, ../sass/byib.ie9.scss */
.flex-direction-nav .flex-prev {
  background: url("../images/arrow-left.png") no-repeat 0 5px;
  text-indent: -200px;
}
/* line 17, ../sass/byib.ie9.scss */
.flex-direction-nav .flex-next {
  background: url("../images/arrow-right.png") no-repeat 0 5px;
  text-indent: -200px;
}
