// =============================================================================
// Media queries
// =============================================================================


// -------------------------------
// |           Primary           |
// -------------------------------
// -------------------------------
// |          Secondary          |
// -------------------------------
//
@mixin display-100-100 {
  .page-title {
    @include zen-grid-item($grid-column-count, 1);
    float: none;
  }

  .primary-content {
    @include zen-grid-item($grid-column-count, 1);
  }

  .secondary-content {
    @include zen-grid-item($grid-column-count, 1);
  }

}

// -------------------------------
// |  Prim.  |   Sec.  |   Ter.  |
// -------------------------------
//
@mixin display-33-33-33 {
  .primary-content {
    @include zen-grid-item($grid-33, 1);
  }

  .secondary-content {
    @include zen-grid-item($grid-33, $grid-33 + 1);
  }

  .tertiary-content {
    @include zen-grid-item($grid-33, 1, right);
  }
}


// -------------------------------
// | Sec. |    Primary    | Ter. |
// -------------------------------
//
@mixin display-33-66-inline {
  .primary-content {
    @include zen-grid-item($grid-75, $grid-25 + 1);

    .page-content {
      @include zen-grid-item(7, 1);

      padding-left: 0;
    }
  }

  .secondary-content {
    @include zen-grid-item($grid-25, 1);
  }

  .tertiary-content {
    @include zen-grid-item(5, 1, right);

    background: url('../images/pattern.png');
    border-left: 1px solid $gray-light;
    padding-right: $default-spacing;
    padding-left: $default-spacing;

    .block {
      margin-top: $default-spacing;
      padding-bottom: $half-spacing;
    }
  }
}


// -------------------------------
// |           Primary           |
// -------------------------------
// -------------------------------
// |  Secondary   |   Tertiary   |
// -------------------------------
//
@mixin display-100-50-50 {
  .primary-content {
    @include zen-grid-item($grid-column-count, 1);
  }

  .secondary-content {
    @include zen-clear(both);
    @include zen-grid-item($grid-50, 1);
  }

  .tertiary-content {
    @include zen-grid-item($grid-50, 1, right);
  }
}


// -------------------------------
// |       Primary        | Sec. |
// -------------------------------
// -------------------------------
// |           Tertiary          |
// -------------------------------
//
@mixin display-66-33-stacked {
  .page-title {
    @include zen-grid-item($grid-column-count, 1);

    float: none;
  }

  .primary-content {
    @include zen-grid-item($grid-column-count, 1);

    .page-content {
      @include zen-grid-item($grid-column-count, 1);

      padding-left: 0;
    }
  }

  .secondary-content {
    display: none;
  }

  .mobile-menu {
    @include zen-clear;

    display: block;
  }

  .tertiary-content {
    @include zen-clear(both);
    @include zen-grid-item($grid-column-count, 1);

    margin-top: $default-spacing;
    padding-left: 0;
  }

}


// -----------------------------------------------------------------------------
// Attachments display 1
// -----------------------------------------------------------------------------
//
%attachments-display-one {
  @include medium() {
    @include attachment-50-50-50-50;
  }

  @include large() {
    @include attachment-25-25-25-25;
  }
}


// -----------------------------------------------------------------------------
// Attachments display 2
// -----------------------------------------------------------------------------
//
%attachments-display-two {
  @include medium() {
    @include attachment-50-50-100-100;
  }

  @include large() {
    @include attachment-33-33-33-100;
  }
}


// -----------------------------------------------------------------------------
// Displays
// -----------------------------------------------------------------------------
//
%byib-display-one {
  @include small() {
    .flexslider-wrapper {

      display: none;

      .slides {
        > li {
          padding-bottom: 66px;
        }

        .coverlayer {
          @include rem('font-size', $theme-font-size * 0.9);
          @include opacity(1);

          padding: $half-spacing $default-spacing * 3;

          .block-title {
            @include rem('font-size', $theme-font-size * 1.1);

            margin-top: $half-spacing / 2;
            margin-bottom: $half-spacing / 2;
          }
        }
      }
    }

    .flex-direction-nav {
      .prev,
      .next {

        bottom: $default-spacing;
        height: 33px;
        width: 33px;

        &:before {
          @include rem('font-size', $theme-font-size * 2.5);
          @include rem('line-height', $theme-font-size * 2.5);
        }
      }

      .prev {
        left: $half-spacing;
      }

      .next {
        right: $half-spacing;
      }
    }
  }

  @include medium() {
    @include display-100-50-50;

    .flexslider-wrapper {

      .slides {
        > li {
          padding-bottom: 93px;
        }

        .coverlayer {
          @include opacity(1);

          padding: $default-spacing $default-spacing * 4;

          .block-title {
            @include rem('font-size', $theme-font-size * 1.25);
          }
        }
      }
    }
  }

  @include large() {
    @include display-33-33-33;
  }
}

%byib-display-two {
  @include small() {
    @include display-66-33-stacked;
  }

  @include medium() {
    @include display-66-33-stacked;
  }

  @include large() {
    @include display-33-66-inline;
  }
}

%byib-display-no-secondary {
  @include medium() {
    @include display-100-100;
  }

  @include large() {
    @include display-33-66-inline;
    @include display-100-100;
  }
}


// -----------------------------------------------------------------------------
// Layouts
// -----------------------------------------------------------------------------
//

body {
  @include small() {
    header {
      border-bottom: 1px solid $gray-light;
      margin-bottom: 0;

      .logo {
        min-width: 75px;
        margin-top: $half-spacing;
        margin-right: $default-spacing;
        max-width: 125px;
      }
    }

    .main-menu {
      display: none;
      margin-top: -90px;
      margin-bottom: $default-spacing * 2.5;
      margin-left: 108px;
      position: relative;

      li {
        display: block;
        margin-bottom: 1px;
        width: 50%;

        a {
          @include rem('font-size', $theme-font-size * .95);

          background-color: lighten($navbar-bg-active-color, 25%);

          &.active,
          &:hover {
            background-color: $navbar-bg-active-color;
          }
        }
      }
    }

    .js-toggle-main-menu {
      display: block;
    }

    .flexslider-wrapper {
      display: none;
    }
  }

  @include medium() {
    header {
      border-bottom: 1px solid $gray-light;
      margin-bottom: 0;

      .logo {
        min-width: 125px;
        margin-top: $half-spacing;
        margin-right: $default-spacing;
        max-width: 150px;
      }
    }

    .main-menu {
      display: none;
      margin-top: -90px;
      margin-bottom: $default-spacing * 2.5;
      margin-left: 108px;
      position: relative;

      li {
        display: block;
        margin-bottom: 1px;
        width: 50%;

        a {
          @include rem('font-size', $theme-font-size * .95);

          background-color: lighten($navbar-bg-active-color, 25%);

          &.active,
          &:hover {
            background-color: $navbar-bg-active-color;
          }
        }
      }
    }

    .js-toggle-main-menu {
      display: block;
    }
  }

  @include large() {
    .main-menu {
      // Make sure that the menu is displayed (js adds inline styling)
      display: table !important;
    }
  }
}

.front {
  @extend %byib-display-one;
  @extend %attachments-display-one;
}

.not-front {
  @extend %byib-display-two;
  @extend %attachments-display-two;
}

.no-secondary-content {
  @extend %byib-display-no-secondary;
}

.no-tertiary-content {
  .page-content {
    @include zen-grid-item($grid-column-count, 1);

    width: 100% !important; /* IE8 won't work without this */
  }
}

.no-secondary-content.no-tertiary-content {
  @extend %byib-display-no-secondary;

  .page-content {
    @include zen-grid-item($grid-column-count, 1);

    padding-left: 0;
    width: 100% !important; /* IE8 won't work without this */
  }
}