// The default stylesheet for the Latto theme.
//
// Documentation written in KSS (https://github.com/kneath/kss/blob/master/SPEC.md)
// Find a styleguide at ding2tal.ting.dk/profiles/ding2/themes/latto/tools/tdcss/index.html
//
//
// Compass version 0.12.2 (Alnilam)
// Zen Grids version 1.2

@import 'compass/css3/box-sizing';
@import 'compass/css3/box-shadow';

// @extend classes
//

%bold {
  font-family: "Source Sans Regular";
}


body {
  background: $theme-background-color $theme-background-pattern 0 123px;
  margin: 0;
  padding: 0;
}

header {
  position: relative;

  margin-bottom: $default-spacing;
  overflow: hidden;

  background-color: $theme-header-background;

  .header-inner {
    margin-right: -$half-spacing;
    overflow: hidden;
    padding-top: $half-spacing;
    padding-bottom: $half-spacing;

   }

  .logo {
    float: right;
  }

}

img {
  display: block; // Removes "margin" below images
  height: auto;
  max-width: 100%;

  vertical-align: baseline;
}

p {
  margin-bottom: $default-spacing;
}


// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------
//
.nav-wrapper {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;

  bottom: 0;
  position: absolute;
}


.main-menu {
  @include rem('font-size', $navbar-font-size);
}

.sub-menu {
  > li {
    border-bottom: 1px solid $gray-light;
  }
}


// -----------------------------------------------------------------------------
// Breadcrumb
// -----------------------------------------------------------------------------
//
.breadcrumb {
  margin: 0 0 $half-spacing * 1.25;
  padding: 0;

  background-color: transparent;
  color: $white;

  a {
    @include opacity(0.75);

    color: $white;
  }

  i {
    margin-left: $half-spacing / 2;
    margin-right: $half-spacing / 2;
  }
}


// -----------------------------------------------------------------------------
// Content
// -----------------------------------------------------------------------------
//
.main-content {
  @include zen-grid-container;
}

.content-wrapper {
  @include box-sizing(border-box);
  @extend .grid-inner;

  padding: $half-spacing $default-spacing;

  background-color: $theme-content-background;
}

// Page image
.page-image {
  @extend p;
}

// Lead text used on pages, news articles etc.
.lead {
  @extend p;
  @extend %bold;
}


// -----------------------------------------------------------------------------
// Blocks and spotboxes
// -----------------------------------------------------------------------------
//

.content-inner,
.attachments-wrapper {
  margin-right: -$half-spacing;
  margin-left: -$half-spacing;

  &:before {
    border-top: 1px solid $gray-light;
    content: "";
    display: block;
    overflow: hidden;
    margin-right: $half-spacing;
    margin-left: $half-spacing;
  }
}

.layout-frontpage {
  @extend %custom-grid-overwrite;
}

.primary-content,
.secondary-content,
.tertiary-content,
.attachment-first,
.attachment-second,
.attachment-third,
.attachment-fourth {
  .grid-wrapper {
    margin-top: $default-spacing;
    margin-bottom: $default-spacing;
  }
}


.block {


  .block-content {
    margin-top: $half-spacing;
    margin-bottom: $half-spacing;
  }
}



// -----------------------------------------------------------------------------
// carousel
// -----------------------------------------------------------------------------
//
.carousel {
  @extend .grid-wrapper;

  .carousel-inner {
    @extend .grid-inner;
  }
}



// -----------------------------------------------------------------------------
// Styling of read more links
// -----------------------------------------------------------------------------
//
.read-more {
  &:hover {
    text-decoration: none;
  }
}


// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
//
.footer-wrapper {
  padding-left: $default-spacing;
  padding-right: $default-spacing;
  padding-bottom: $default-spacing;

  background-color: $theme-content-background;

  .footer-content {
    padding-top: $default-spacing;

    border-top: 1px solid $gray-light;
    text-align: center;
  }
}

// Add margin after icons
[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin-right: 3px;
}