// =============================================================================
// Media queries
// =============================================================================


// -------------------------------
// |  Prim.  |   Sec.  |   Ter.  |
// -------------------------------
//
@mixin display-33-33-33 {
  .primary-content {
    @include zen-grid-item($grid-33, 1);
  }

  .secondary-content {
    @include zen-grid-item($grid-33, $grid-33 + 1);
  }

  .tertiary-content {
    @include zen-grid-item($grid-33, 1, right);
  }
}


// -------------------------------
// | Sec. |    Primary    | Ter. |
// -------------------------------
//
@mixin display-33-66-inline {
  .primary-content {
    @include zen-grid-item($grid-75, $grid-25 + 1);

    .page-content {
      @include zen-grid-item(7, 1);

      padding-left: 0;
    }
  }

  .secondary-content {
    @include zen-grid-item($grid-25, 1);
  }

  .tertiary-content {
    @include zen-grid-item(5, 1, right);

    background: url('../images/pattern.png');
    border-left: 1px solid $gray-light;
    padding-right: $default-spacing;
    padding-left: $default-spacing;

    .block {
      margin-top: $default-spacing;
      padding-bottom: $half-spacing;
    }
  }
}


// -------------------------------
// |       Primary        | Sec. |
// -------------------------------
// -------------------------------
// |           Tertiary          |
// -------------------------------
//
@mixin display-66-33-stacked {
  .page-title {
    @include zen-grid-item($grid-column-count, 1);

    float: none;
  }

  .primary-content {
    @include zen-grid-item($grid-column-count, 1);

    .page-content {
      @include zen-grid-item($grid-column-count, 1);

      padding-left: 0;
    }
  }

  .secondary-content {
    display: none;
  }

  .tertiary-content {
    @include zen-clear(both);
    @include zen-grid-item($grid-column-count, 1);

    margin-top: $default-spacing;
    padding-left: 0;
  }

}


// -----------------------------------------------------------------------------
// Displays
// -----------------------------------------------------------------------------
//
%byib-display-one {
  @include small() {
    .flexslider-wrapper {

      .slides {
        > li {
          padding-bottom: 66px;
        }

        .coverlayer {
          @include rem('font-size', $theme-font-size * 0.9);
          @include opacity(1);

          padding: $half-spacing $default-spacing * 3;

          .block-title {
            @include rem('font-size', $theme-font-size * 1.1);
            
            margin-top: $half-spacing / 2;
            margin-bottom: $half-spacing / 2;
          }
        }
      }
    }

    .flex-direction-nav {
      .flex-prev,
      .flex-next {

        bottom: $default-spacing;
        height: 33px;
        width: 33px;

        &:before {
          @include rem('font-size', $theme-font-size * 2.5);
          @include rem('line-height', $theme-font-size * 2.5);
        }
      }

      .flex-prev {
        left: $half-spacing;
      }

      .flex-next {
        right: $half-spacing;
      }
    }
  }

  @include medium() {
    @include display-100-50-50;

    .flexslider-wrapper {

      .slides {
        > li {
          padding-bottom: 93px;
        }

        .coverlayer {
          @include opacity(1);

          padding: $default-spacing $default-spacing * 4;

          .block-title {
            @include rem('font-size', $theme-font-size * 1.25);
          }
        }
      }
    }
  }

  @include large() {
    @include display-33-33-33;
  }
}

%byib-display-two {
  @include small() {
    @include display-66-33-stacked;
  }

  @include medium() {
    @include display-66-33-stacked;
  }

  @include large() {
    @include display-33-66-inline;
  }
}


// -----------------------------------------------------------------------------
// Layouts
// -----------------------------------------------------------------------------
//
.front {
  @extend %byib-display-one;
  @extend %attachments-display-two;
}

.not-front {
  @extend %byib-display-two;
  @extend %attachments-display-three;
}