// =============================================================================
// This file holds all the variables for the theme
// =============================================================================


@import "compass/css3";


// -----------------------------------------------------------------------------
// The default font
// -----------------------------------------------------------------------------
//
@include font-face("Source Sans Light", font-files("source-sans/SourceSansPro-Light-webfont.woff",
                   "source-sans/SourceSansPro-Light-webfont.ttf", "source-sans/SourceSansPro-Light-webfont.svg"),
                   "source-sans/SourceSansPro-Light-webfont.eot", 'normal', 'normal');

@include font-face("Source Sans Regular", font-files("source-sans/SourceSansPro-Regular-webfont.woff",
                   "source-sans/SourceSansPro-Regular-webfont.ttf", "source-sans/SourceSansPro-Regular-webfont.svg"),
                   "source-sans/SourceSansPro-Regular-webfont.eot", 'normal', 'normal');


// -----------------------------------------------------------------------------
// Basic settings: Grid, spacing etc.
// -----------------------------------------------------------------------------
//
$grid-max-width:                  1000px;
$grid-column-count:               12;
$default-spacing:                 20px;
$half-spacing:                    $default-spacing / 2;

// -----------------------------------------------------------------------------
// Standard color definitions
// -----------------------------------------------------------------------------
//
$white:                           #fff;
$black:                           #000;
$gray:                            #d5d5d5;
$gray-light:                      lighten($gray, 5%);
$gray-lighter:                    lighten($gray, 10%);
$gray-dark:                       darken($gray, 10%);
$gray-darker:                     darken($gray, 25%);


// -----------------------------------------------------------------------------
// Theme color definitions
// -----------------------------------------------------------------------------
//
$theme-primary-color:             #fff;
$theme-secondary-color:           #00b7e7;
$theme-background-color:          #e0f1f6;
$theme-background-pattern:        url('../images/body-bg.png') repeat-x;
$theme-header-background:         #fff;
$theme-content-background:        #fff;


// -----------------------------------------------------------------------------
// Font variables
// -----------------------------------------------------------------------------
//
$theme-font-size:                 16px;
$theme-line-height:               24px;
$theme-font-family:               "Source Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;


// -----------------------------------------------------------------------------
// Base font size for rem() mixin, measured in pixels
// -----------------------------------------------------------------------------
//
$base-font-size:                  16px;


// -----------------------------------------------------------------------------
// Text colors
// -----------------------------------------------------------------------------
//
$text-primary-color:              #000;
$text-selection-color:            $text-primary-color;
$text-selection-background:       #f4e6c4;


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
//
$link-color:                      #ab4c00;
$link-color-hover:                darken($link-color, 50%);


// -----------------------------------------------------------------------------
// Blocks
// -----------------------------------------------------------------------------
//
$theme-block-color:               lighten($text-primary-color, 25%);
$theme-block-background:          $theme-primary-color;
$theme-block-inverse-color:       $theme-primary-color;
$theme-block-inverse-background:  $theme-secondary-color;


// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------
//
$navbar-bg-color:                 #fff;
$navbar-bg-active-color:          #31b4d3;
$navbar-text-color:               #2a373b;
$navbar-text-color-active:        #fff;
$navbar-item-spacing:             $default-spacing / 2 $default-spacing;


// Sidebar
$sidebar-background-color:        White;
$sidebar-text-color:              Black;
$sidebar-item-spacing:            $default-spacing / 2;



// Lists
$list-item-spacing:               10px;
$list-picture-width:              25%;

// Search field
$search-font-size:                20px;
$search-field-height:             50px;


// -----------------------------------------------------------------------------
// Custom variables
// -----------------------------------------------------------------------------
//
$navbar-font-size:                17px;