// =============================================================================
// IE 7 specific styles
// =============================================================================
//
.logo {
  img {
    width: auto;
  }
}

.nav-wrapper li {
  display: inline;
  a {
    display: inline-block;
  }
}